/*Egesz oldaloas dolgok*/
body{
    margin: 0%;
    background-color:rgb(51, 51, 51);
}
header{
    background-image: url(Keppek/Vagottpizza.jpg);

    background-position: center;
    color: #ffffff;
    width: 100%;
    height: 600px;
    background-size: 115% ;

}
p{
    font-size: 19px;
}
h1{
    color: white;
    margin: auto;
    padding-top: 50px;
    padding-left: 30px;
    text-shadow: black;
}
a{
    color: #ccc;
    text-decoration: none;

}
a:hover{
    color: white;
}


/*piadina*/
#piadina{
    color: #ccc;
    background-color:rgb(51, 51, 51);
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;


    
}
#p_cim{

    width: 35%;
    float:left;
    text-align: right;
}
#p_szoveg{
    width: 60%;
    float: right;
    text-align: left;
}


/*Menü*/
#fmenu{
    float: right;
    color: #ccc;
    float: right;
    padding-right: 14px;
    font-size: 14px;
    padding-top: 0%;
}

#menu{
    background-color: #141313;
    margin-top: 50px;
    color: #ccc;
    margin: auto;
    text-align: center;
    height: 400px;

}
.PMI{

    border: solid 2px ;
    border-color: #ccc;
    font-size: 25px;

    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 10px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 17px ;
    padding-bottom: 17px;

}
#specialitas{
    background-color: rgb(32, 29, 29);
    height: 1000px;

}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
 
.gallery{
    display: grid;
    grid-template-columns: repeat(13, 60px);
    grid-template-rows: repeat(11, 60px);
    grid-gap: 15px;
}
 
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.gallery__item--1{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 8;
}
 
.gallery__item--2{
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 9;
}
 
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 12;
}
.gallery__item--4{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 12;
}
.gallery__item--5{
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 12;
}

#kepszov1{
    position: relative;
    text-align: center;
    bottom: 15%;
}
#kepszov2{

    position: relative;
    text-align: center;
    bottom: 10%;

}
#kepszov3{
    position: relative;
    text-align: center;
    bottom: 20%;
}
#kepszov4{
    position: relative;
    text-align: center;
    bottom: 20%;
}
#kepszov5{
    position: relative;
    text-align: center;
    bottom: 20%;
}


#info{
background-color:  #141313;
}

#infoc{
    padding-left: 350px;
    padding-top: 100px;
    width: 25%;
    margin: 0%;
}
#nyitva{
    padding-left: 700px;
    color: #ccc;

}
#nyitvanyitva{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    background-color: #141313 ;
    margin-top: 0%;
    border-top: white solid 2px;
    padding-top: 50px;
    height: 100px;
    
}
#info_F{
    margin: 0%;
    height: 100px;
    background-color: #141313;;
}