body{
    margin: 0%;
}
header{
    background-image: url(Keppek/Vagottpizza.jpg);

    background-position: center;
    color: white;
    width: 100%;
    height: 600px;
    background-size: 115% ;

}

h1{
    color: white;
    margin: auto;
    padding-top: 50px;
    padding-left: 30px;
    text-shadow: black;
}


a{
    color: #ccc;
    text-decoration: none;

}

a:hover{
    color: white;
}

#piadina{
    color: #ccc;
    background-color:rgb(32, 29, 29);
    height: 300px;
}

p{
    font-size: 19px;
}
#fmenu{
    float: right;
    color: #ccc;
    float: right;
    padding-right: 14px;
    font-size: 14px;
    padding-top: 0%;
}

#pp_div{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#pp{
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 60px;
    width: 45%;
}
.cimp{
    padding-left: 160px;
    padding-top: 100px;
    width: 25%;
    margin: 0%;
}
#tor{
    padding-left: 290px;
    width: 10%;

}


#pp_sz{
    padding-top: 40px;
    
    margin-left: 400px;
    margin-top: -150px;


}

.menu{
    background-color: #141313;
    color: #ccc;
    margin: auto;
    text-align: center;

}

